<div class="about-us">
  <h1 class="submark" data-aos="fade-up" data-aos-duration="700">
    Nosotros
    <span id="nosotros"></span>
  </h1>

  <div
    class="about-text text-center text-white"
    data-aos="fade-up"
    data-aos-duration="1500"
  >
    <p>
      Captured Styles es una marca que nace con la idea de ofrecer productos
      exclusivos y de alta calidad para quienes buscan destacar su estilo.<br />
      Con un enfoque en la moda urbana, nuestros productos están diseñados para
      personas que buscan algo único y auténtico.
    </p>
    <p>
      Nuestro compromiso es proporcionar no solo productos de calidad, sino
      también una experiencia de compra única y personalizada.<br />
      Cada detalle cuenta para nosotros, desde la selección de materiales hasta
      el servicio al cliente.
    </p>
  </div>
</div>

<h1 class="submark d-md-none d-lg-block" data-aos="fade-up" data-aos-duration="700">
  Nuestros Clientes
</h1>
<div class="galery text-center d-md-none d-lg-flex" data-aos="fade-up" data-aos-duration="1500">
  <div style="background-image: url('/Galery/PersonaFelizGorra.png')"></div>
  <div style="background-image: url('/Galery/Rubia feliz.png')"></div>
  <div style="background-image: url('/Galery/BlackMetal.png')"></div>
  <div style="background-image: url('/Galery/PersonaGorraFeliz.png')"></div>
  <div style="background-image: url('/Galery/Guitarrista.png')"></div>
  <div style="background-image: url('/Galery/MujerGorra.png')"></div>
  <div style="background-image: url('/Galery/Metal.png')"></div>
</div>
