:root {
  --color-principal: #4b77d5;
  --color-primary-hover: #4425ab;
  --color-verde: #04a75b;
  --color-negro: #ffffff;
  --color-fondo: #000000;
  --color-footer: #151515;
}
body {
  padding: 0;
  margin: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  padding: 0px;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-fondo);
}
h1 {
  position: relative;
  font-weight: 700;
  font-size: calc(1.3rem + 0.6vw);
  text-align: center;
}

.submark::after {
  content: "";
  width: 7%;
  position: absolute;
  height: 4px;
  background-color: var(--color-principal);
  top: 130%;
  border-radius: 20px;
  left: 46.5%;
}

@keyframes slideToUp {
  0% {
    transform: translateY(-50%);
  }
  50%{
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slideToDown {
  0% {
    transform: translateY(50%);
  }
  50%{
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0%);
  }
}

::-webkit-scrollbar{
  background-color: black;
  width: 11px;
  border-left: 0.1px solid white;
}
::-webkit-scrollbar-thumb{
  background-color: whitesmoke;
  border-radius: 7px;

}