<h1 class="submark mb-5" data-aos="fade-up" data-aos-duration="700">
  <span id="categorias"></span>
  Categorias
</h1>
<div class="container p-0">
  <div class="row justify-content-center justify-content-md-evenly justify-content-lg-around justify-content-xl-between">
    <div class="col-4 category-item col-md-3 col-lg-2 todas rounded-4"><span>Todos los productos</span></div>
    <div class="col-4 category-item col-md-3 col-lg-2 edicionLimitada rounded-4"><span>Edición Limitada</span></div>
    <div class="col-4 category-item col-md-3 col-lg-2 clasicas rounded-4"> <span>Clásicas</span></div>
    <div class="col-4 category-item col-md-3 col-lg-2 exclusivas rounded-4"> <span>Exclusivas</span></div>
    <div class="col-4 category-item col-md-3 col-lg-2 accesorios rounded-4"> <span>Accesorios</span></div>
  </div>
</div>